.container_posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2rem;
  gap: 1.5rem;
}

.title {
  font-size: 1.8rem;
  color: #4e8098;
  margin: 1.5rem 0rem;
}

@media screen and (max-width: 1024px) {
  .container_posts {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .container_posts {
    grid-template-columns: 1fr;
  }
}
