.container_posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3rem;
  margin-bottom: 2rem;
  gap: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .container_posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .container_posts {
    grid-template-columns: 1fr;
  }
}
