:root {
  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-bg: #d9dbf1;
  --color-white: #fff;
  --color-secondary: #4e8098;
  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Mulish", sans-serif;
  background: var(--color-bg);
  line-height: 1.7;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

a {
  color: var(--color-bg);
  transition: var(--transition);
  cursor: pointer;
}

a:hover {
  color: var(--color-white);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Media queries to small & medium width device */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
